html {
    background: #E0E0E0;
    color: #424242;
    font-family: "Courier New", courier, monospace;
}

.hidden, #hide {
    display:none;
}

body {
    margin:auto;
    width:75%;
    background: #FAFAFA;
    text-align:center;
}
header {
    background:#FFFFFF;
    box-shadow: 0 10px 10px rgba(0,0,0,0.15);
}
footer {
    font-size: 11px;
    padding: 3px;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
        0 10px 0 -5px #FAFAFA, /* The second layer */
        0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
        0 20px 0 -10px #FAFAFA, /* The third layer */
        0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
}
ul {
    list-style-type:none;
    text-align: left;
}

li {
    width:100%;
    /*border-bottom:2px solid #a5a5a5;*/
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

button {
    background:none;
    font-family:inherit;
    border:none;
    outline:none;
    color:inherit;
}
button:hover {
    color:#212121;
    text-decoration:underline;
}

.incomplete label {
    text-decoration: none;
}
.complete label {
    text-decoration: line-through;
}

#taskCounter {
    font-size: 11px;
    text-align:left;
    padding-left:15px;
}

input[type=text] {
    border:none;
    /*border-bottom: 2px solid #a5a5a5;*/
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    outline:none;
    color:inherit;
    font-family:inherit;
    text-align:center;
    width:100%;
    background:inherit;
}

.delete {
    float:right;
}

#addButton {
    display:none;
}